@import "//fonts.googleapis.com/css?family=Montserrat";

body {
    display: block;
    background-color: #e6e6e6;
    color: #000000;
    text-align: center;
}

header {
    margin-top: 100px;
}

main {
    margin-top: 50px;
    font-family: "Montserrat",sans-serif;
    font-size: 200%;
}

img {
    width: 45%;
    height: auto;
}