@import "//fonts.googleapis.com/css?family=Montserrat";

html {
    scroll-behavior: smooth;
}

body {
    display: block;
    margin: 0;
    background-color: #e6e6e6;
    color: #000000;
    text-align: center;
}

header {
    margin-top: 100px;
}

main {
    min-width: 100px;
    max-width: 700px;
    margin: auto;
    margin-top: 50px;
    font-family: "Montserrat",sans-serif;
}

h1 {
    padding-top: 50px;
    text-align: center;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
    background: #888; 
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.logo {
    max-width: 50%;
    height: auto;
}

.gotopbtn {
    position: fixed;
    width: 50px;
    height: 50px;
    background: #C26090;
    bottom: 40px;
    right: 50px;
    /* border-radius: 10px; */

    text-decoration: none;
    line-height: 50px;
    text-align: center;
    color: white;
    font-size: 22px;
}

.test {
    font-size: 1em;
    line-height: 1.75em;
    border-top: 3px solid;
    border-image: linear-gradient(to right, #743ad5 0%, #d53a9d 100%);
    border-image-slice: 1;
    border-width: 3px;
    margin: 0;
    padding: 40px;
    counter-increment: section;
    position: relative;
    color: black;
}

.test:nth-child(odd) h2{
    text-align: right;
}

.test:nth-child(even) h2{
    text-align: left;
}
    
.test::before {
    content: counter(section);
    position: absolute;
    border-radius: 50%;
    height: 1.25em;
    width: 1.25em;
    background-color: black;
    text-align: center;
    line-height: 1.25em;
    color: white;
    font-size: 1em;
}
  
.test:nth-child(odd) {
    text-align: right;
    border-right: 3px solid;
    padding-left: 0;
}

.test:nth-child(odd)::before {
    left: 100%; 
    margin-left: -9px;
}

.test:nth-child(even) {
    text-align: left;
    border-left: 3px solid;
    padding-right: 0;
}
    
.test:nth-child(even)::before {
    right: 100%; 
    margin-right: -9px;
}

.test:first-child {
    border-top: 0;
    border-top-right-radius:0;
    border-top-left-radius:0;
}

.test:last-child {
    border-bottom-right-radius:0;
    border-bottom-left-radius:0;
}

.about {
    font-size: 1em;
    line-height: 1.75em;
    border-top: 3px solid;
    border-image: linear-gradient(to right, #743ad5 0%, #d53a9d 100%);
    border-image-slice: 1;
    border-width: 3px;
    margin: 0;
    padding: 40px;
    counter-increment: section;
    position: relative;
    color: black;
}

.about:nth-child(odd) h2{
    text-align: right;
}

.about:nth-child(even) h2{
    text-align: left;
}
  
.about:nth-child(odd) {
    text-align: right;
    border-right: 3px solid;
    padding-left: 0;
}

.about:nth-child(even) {
    text-align: left;
    border-left: 3px solid;
    padding-right: 0;
}

.about:first-child {
    border-top: 0;
    border-top-right-radius:0;
    border-top-left-radius:0;
}

.about:last-child {
    border-bottom-right-radius:0;
    border-bottom-left-radius:0;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
}

.price {
    color: grey;
    font-size: 22px;
}

.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.card button:hover {
    opacity: 0.7;
}

input[type=text], select, textarea {
    width: 50%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type=submit] {
    background-color: #C26090;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #d53a9d;
}

.chip {
    display: inline-block;
    padding: 0 25px;
    height: 70px;
    font-size: 18px;
    line-height: 70px;
    border-radius: 35px;
    background-color: #f1f1f1;
    margin: 25px
}

.chip a {
    color: inherit;
    text-decoration: none;
}

.chip img {
    float: left;
    margin: 0 10px 0 -25px;
    height: 70px;
    width: 70px;
    border-radius: 50%;
}