@import "//fonts.googleapis.com/css?family=Montserrat";

html {
    scroll-behavior: smooth;
}

body {
    display: block;
    margin: 0;
    background-color: #e6e6e6;
    color: #000000;
    text-align: center;
}

header {
    margin-top: 100px;
}

main {
    min-width: 100px;
    max-width: 700px;
    margin: auto;
    margin-top: 50px;
    font-family: "Montserrat",sans-serif;
}

img {
    width: 25%;
    height: auto;
}

h1 {
    text-align: center;
}

.about p{
    font-size: 18px;
    text-align: left;
}

.topnav {
    /* position: fixed;
    top: 0;
    width: 100%; */
    background-color: #333;
    overflow: hidden;
}
  
.topnav a {
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
.topnav a:hover {
    background-color: #f2f2f2;
    color: black;
}
  
.topnav a.active {
    background-color: #C26090;
    color: white;
}

.gotopbtn {
    position: fixed;
    width: 50px;
    height: 50px;
    background: #C26090;
    bottom: 40px;
    right: 50px;

    text-decoration: none;
    line-height: 50px;
    color: white;
    font-size: 22px;
}

.test {
    font-size: 1em;
    line-height: 1.75em;
    border-top: 3px solid;
    border-image: linear-gradient(to right, #743ad5 0%, #d53a9d 100%);
    border-image-slice: 1;
    border-width: 3px;
    margin: 0;
    padding: 40px;
    counter-increment: section;
    position: relative;
    color: black;
}

.test:nth-child(odd) h2{
    text-align: right;
}

.test:nth-child(even) h2{
    text-align: left;
}
    
/* .test::before {
    content: counter(section);
    position: absolute;
    border-radius: 50%;
    padding: 10px;
    height: 1.25em;
    width: 1.25em;
    background-color: black;
    text-align: center;
    line-height: 1.25em;
    color: white;
    font-size: 1em;
} */
  
.test:nth-child(odd) {
    text-align: right;
    border-right: 3px solid;
    padding-left: 0;
}

/* .test:nth-child(odd)::before {
    left: 100%; 
    margin-left: -20px;
} */

.test:nth-child(even) {
    text-align: left;
    border-left: 3px solid;
    padding-right: 0;
}
    
/* .test:nth-child(even)::before {
    right: 100%; 
    margin-right: -20px;
} */

.test:first-child {
    border-top: 0;
    border-top-right-radius:0;
    border-top-left-radius:0;
}

.test:last-child {
    border-bottom-right-radius:0;
    border-bottom-left-radius:0;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
}

.price {
    color: grey;
    font-size: 22px;
}

.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.card button:hover {
    opacity: 0.7;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #C26090;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
    input[type=submit]:hover {
    background-color: #d53a9d;
}

/* Add a background color and some padding around the form */
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin-bottom: 50px;
} 

.chip {
    display: inline-block;
    padding: 0 25px;
    height: 70px;
    font-size: 18px;
    line-height: 70px;
    border-radius: 35px;
    background-color: #f1f1f1;
    margin: 25px
}

.chip a {
    color: inherit;
    text-decoration: none;
}

.chip img {
    float: left;
    margin: 0 10px 0 -25px;
    height: 70px;
    width: 70px;
    border-radius: 50%;
}